<%= form_with(url: search_path, method: :get, class: "mb-5") do |form| %>
  <%= form.text_field :query, value: params[:query], class: "px-1 border border-black" %>
  <%= form.select :type, options_for_select(Bgg::SEARCH_TYPES, params[:type]), {}, class: "appearance-none px-1 border border-black" %>
  <%= form.submit "Search", name: nil, class: "px-1 border border-black" %>
<% end %>

<% if @items.any? %>
  <ul class="list-inside list-disc">
    <% @items.each do |item| %>
      <li>
        <%= item[:name] %>
        <% if item[:yearpublished].present? %>
          (<%= item[:yearpublished] %>)
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
