
<div class="mb-10 flex items-center justify-between">
  <%= link_to "games.breakabletoys.com", root_path %>

  <ul class="flex items-center space-x-3">
    <li><%= link_to "Search", search_path %></li>
    <% if authenticated? %>
      <li><%= link_to "Lists", lists_path %>
      <li><%= button_to "Sign out", users.session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", users.oauth_auth_path %></li>
    <% end %>
  </ul>
</div>
